<h1>
	<%= @album.name %>
</h1>
<strong>
	Artist: <%= link_to @album.artist.name , artist_path(@album.artist) %>
	<br/>
	<br/>
	Songs: 
	<br/>
	<% @album.songs.each do |song| %>
		<%= link_to song.name , song_path(song) %>
	<br/>
	<% end %>
	<br/>

	Year: <%= @album.year %>
	<br/>
	Likes: <%= @album.likes %>
		<%= link_to 'upvote' , like_album_path(@album) %>
	<br/>
	<h3><%= link_to 'Home' , root_path %> | <%= link_to 'All Albums' , albums_path %></h3>
	<h3>
		<%= link_to 'Add New Song' , new_album_song_path(@album) %>
	</h3>
</strong>